<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">





<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testCases.TC__001__LoginPage" />
			<class name="testCases.TC__002__AddTo_Cart_Product" />
			<class name="testCases.TC__003__CheckOut" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
